
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//$fa-font-path:   "../webfonts";

<<<<<<< HEAD
.pax{
  background: #f7f7f7;
  text-align: center;
  width: 100px;
  width: 100px;
}
=======
.circulo{
  margin:auto;
  vertical-align: middle !important;
  background: #f7f7f7;
  width: 150px;
  height: 150px;
  text-align: center;
  border-radius: 50%!important;
}

.text-center{
  text-align: center;
}
>>>>>>> origin_trip/master
